@media (max-width: 850px) {
    h4 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 40px;
    }

    h1 {
        font-size: 2.8rem;
    }

    p {
        font-size: .8rem;
    }

    .glob_button a {
        font-size: 12px;
    }

    .container {
        padding: 0 20px;
    }

    .header nav ul li a {
        font-weight: 500;
    }

    .header nav ul li {
        margin: 10px;
    }

    .header .logo {
        width: 120px;
    }

    .header .logo img {
        margin-bottom: -50px;
    }

    .header nav ul li a {
        font-size: 13px;
    }

    .up_comming .container {
        padding: 0 20px;
    }

    .up_comming .events .card {
        padding: 10px 10px 25px 10px;
        width: 30%;
        max-width: 300px;
    }

    .up_comming .events .card .name h3 {
        font-size: 1.2rem;
    }

    .up_comming .events .card .date_time .date .num h2 {
        font-size: 1.5rem;
    }

    .up_comming .events .card {
        width: 32%;
        max-width: 300px;
    }
}

@media (max-width: 768px) {

    .banner .slide .owl-nav button.owl-prev,
    .banner .slide .owl-nav button.owl-next {
        font-size: 2rem;
        color: var(--header_color);
        padding: 0 15px 10px 15px !important;
    }

    h4 {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    h1 {
        font-size: 2.7rem;
    }

    .banner .slide .slider .date_loc h4 {
        font-size: .8rem;
    }

    .banner .slide .slider .timer .text h2 {
        font-size: 2.5rem;
    }

    .enternment .counter {
        flex-wrap: wrap;
    }

    .enternment .counter .count {
        width: 140px;
    }

    .enternment .head_cont .img_text {
        width: 40%;
        margin-left: 15px;
    }

    .enternment .head_cont .img_text .card p {
        font-size: .8rem;
    }

    .enternment .head_cont .img_text .card hr {
        margin: 7px auto;
    }

    .enternment .head_cont .img_text .card {
        padding: 30px 30px;
    }

    .enternment .head_cont .img_text .card:nth-child(1) {
        right: 46%;
        top: -15px;
    }

    .up_comming .events .card {
        padding: 10px 10px 25px 10px;
    }

    .photo_gal .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 665px) {
    .header nav {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: var(--dark_color);
        transition: .5s;
        top: 0;
        right: -100%;
    }

    .header .show_nav {
        right: 0;
    }

    .header nav ul {
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    .header nav ul li a {
        color: var(--white);
    }

    .header .bar {
        display: block;
        width: 40px;
        position: relative;
        height: 50px;
    }

    .header .clicked span:nth-child(2) {
        opacity: 0;
    }

    .header .clicked span:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
        background: var(--white);
        top: 10px;
    }

    .header .clicked span:nth-child(3) {
        transform: rotate(130deg);
        top: 10px;
        background: var(--white);
        position: absolute;
    }

    .header .bar span {
        transition: .5s;
        margin-top: 10px;
        display: block;
        width: 100%;
        height: 3px;
        background: var(--dark_color);
    }

    .banner .slide .owl-nav {
        right: -80px;
    }

    .enternment .head_cont {
        flex-direction: column;
    }

    .enternment .head_cont .desc {
        width: 100%;
    }

    .enternment .head_cont .img_text {
        display: flex;
        width: 100%;
        margin: 0;
        margin-top: 20px;
        justify-content: space-between;
    }

    .enternment .head_cont .img_text .card {
        position: initial;
        padding: 40px 30px;
        width: 300px;
        margin: 0 10px;
    }

    .up_comming .events .card {
        width: 40%;
        margin: 10px 10px;
    }

    .up_comming .events {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .photo_gal .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 550px) {
    h4 {
        font-size: .7rem;
    }

    h1 {
        font-size: 2rem;
        line-height: 35px;
    }

    .b7nner .slide .slider .timer {
        flex-direction: column;
        right: 0;
        bottom: 0px;
    }

    .banner .slide .owl-nav {
        right: -80px;
    }

    .banner .slide .slider .timer {
        right: -15px;
        flex-direction: column;
    }

    .banner .slide .slider .date_loc {
        margin-top: 5px;
        flex-direction: column;
    }

    .banner .slide .slider h4 {
        margin-top: 10px;
    }

    .up_comming .events .card {
        width: 95%;
    }
    .photo_gal .gallery {
        grid-template-columns: 1fr;
    }
}